// ---------------------------------------------------------
// skip link
// ---------------------------------------------------------
[href="#main"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

[href="#main"]:focus {
  right: auto;
}

// ---------------------------------------------------------
// sticky footer with flexbox
// ---------------------------------------------------------
html, body {
  height: 100%;
  background-color: var(--color-white);
  @media (min-width: $lg) {
    background-color: var(--color-background-body);
  }
}
#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#main {
  flex: 1 0 auto;
  background-color: var(--color-white);
  padding-bottom: var(--gutter-lg);
  @media (min-width: $md) {
    padding-top: var(--gutter-md);
  }
  @media (min-width: $lg) {
    padding-top: 0;
  }
}

// ---------------------------------------------------------
// basic elements
// ---------------------------------------------------------
a {
  color: var(--color-link);
}
a:active {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover {
  color: var(--color-link-hover);
}
