// -----------------------------------------------
// Blog
// -----------------------------------------------
body.blog {
  position: relative;

  &::before {
    @include decoration-corner-circle;
  }

  &::after {
    @media (min-width: $lg) {
      content: "";
      display: block;
      width: 250px;
      height: 330px;
      background-image: url('~@/assets/images/layout/tiepmachine.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0px;
    }
  }
}