// -----------------------------------------------
// Diensten
// -----------------------------------------------
body.diensten {
  position: relative;

  &::before {
    @media (min-width: $md) {
      content: "";
      display: block;
      width: 280px;
      height: 280px;
      border: 1px solid var(--color-yellow);
      border-radius: 50%;
      background-color: var(--color-yellow);
      background-image: url('~@/assets/images/icons/icon-rocket-white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120px 144px;
      position: absolute;
      top: 110px;
      right: 60px;
    }
    @media (min-width: $lg) {
      width: 320px;
      height: 320px;
      background-size: 160px 186px;
      top: 110px;
      right: 80px;
    }
    @media (min-width: $xl) {
      right: 110px;
    }
  }

  &::after {
    @media (min-width: $md) {
      content: "";
      display: block;
      width: 140px;
      height: 540px;
      background-image: url('~@/assets/images/layout/concrete-block.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 80px;
    }
    @media (min-width: $lg) {
      width: 175px;
      height: 560px;
    }
  }
}

body.diensten .banner {
  @media (min-width: $lg) {
    background-image: url('~@/assets/images/icons/arrow-orange-down.svg');
    background-position: calc(100% - 16px) 0;
    background-repeat: no-repeat;
    background-size: 117px 94px;
  }
}