// -----------------------------------------------
// Projecten
// -----------------------------------------------
body.projecten {
  position: relative;

  &::before {
    @media (min-width: $md) {
      content: "";
      display: block;
      width: 280px;
      height: 280px;
      border: 1px solid var(--color-orange);
      border-radius: 50%;
      background-color: var(--color-orange);
      background-image: url('~@/assets/images/icon-service-development-white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120px 144px;
      position: absolute;
      top: 110px;
      right: 60px;
    }
    @media (min-width: $lg) {
      width: 320px;
      height: 320px;
      background-size: 160px 186px;
      top: 100px;
      right: 90px;
    }
    @media (min-width: $xl) {
      right: 100px;
    }
  }

  &::after {
    @media (min-width: $md) {
      content: "";
      display: block;
      width: 140px;
      height: 540px;
      background-image: url('~@/assets/images/bg/takel.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -40px;
      right: 40px;
    }
    @media (min-width: $lg) {
      width: 175px;
      height: 560px;
    }
  }
}

body.projecten .banner {
  @media (min-width: $lg) {
    background-image: url('~@/assets/images/arrow-yellow-down.svg');
    background-position: calc(100% - 16px) 0;
    background-repeat: no-repeat;
    background-size: 117px 94px;
  }
}

// -----------------------------------------------
// Single Project
// -----------------------------------------------
body.project {
  position: relative;

  &::before {
    @media (min-width: $lg) {
      content: "";
      display: block;
      width: 400px;
      height: 400px;
      border: 1px solid var(--color-orange);
      border-radius: 50%;
      background-color: var(--color-orange);
      position: absolute;
      top: -160px;
      right: -150px;
    }
    @media (min-width: $xl) {
      width: 500px;
      height: 500px;
      top: -250px;
      right: -200px;
    }
  }

  &::after {
    @media (min-width: $lg) {
      content: "";
      display: block;
      width: 140px;
      height: 540px;
      background-image: url('~@/assets/images/bg/takel.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -200px;
      right: 40px;
    }
  }
}