// ----------------------------------------------
// Sizes for media queries
// ----------------------------------------------
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

:root {
  // ----------------------------------------------
  // Gutter settings
  // ----------------------------------------------
  --gutter-xxs:                5px;
  --gutter-xs:                 10px;
  --gutter-sm:                 15px;
  --gutter-md:                 30px;
  --gutter-md-plus:            40px;
  --gutter-lg:                 60px;
  --gutter-xl:                 90px;
  --gutter-xxl:                120px;
  --gutter-grande:             180px;
  --gutter-mucho-grande:       240px;

  // ----------------------------------------------
  // Color palette
  // ----------------------------------------------
  --color-white:              #fff;
  --color-black:              #000;
  --color-gray-dark:          #666;
  --color-gray:               #aaa;
  --color-gray-lighter:       #ddd;
  --color-gray-light:         #eee;


  // ----------------------------------------------
  // Colors
  // ----------------------------------------------
  --color-background-body:    var(--color-white);
  --color-background-screen:  var(--color-white);
  --color-background-header:  var(--color-gray-lighter);
  --color-background-footer:  var(--color-gray-lighter);
  --color-background-button:  var(--color-gray);
  --color-background-pre:     var(--color-gray);
  --color-background-ins:     var(--color-gray);

  --color-text-screen:        var(--color-white);
  --color-text-input:         var(--color-white);;
  --color-text-input-focus:   var(--color-white);;
  --color-link:               blue;
  --color-link-visited:       purple;
  --color-link-hover:         blue;
  --color-text-main:          var(--color-white);
}
