// ----------------------------------------------
// Sizes for media queries
// ----------------------------------------------
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

:root {
  // ----------------------------------------------
  // Gutter settings
  // ----------------------------------------------
  --gutter-xxs:                5px;
  --gutter-xs:                 10px;
  --gutter-sm:                 15px;
  --gutter-md:                 30px;
  --gutter-md-plus:            40px;
  --gutter-lg:                 60px;
  --gutter-xl:                 90px;
  --gutter-xxl:                120px;
  --gutter-grande:             180px;
  --gutter-mucho-grande:       240px;

  // ----------------------------------------------
  // Color palette
  // ----------------------------------------------
  --color-white:              #fff;
  --color-black:              #000;
  --color-gray-dark:          #686868;
  --color-gray:               #aaa;
  --color-gray-lighter:       #eee;
  --color-gray-light:         #f3f5f8;

  --color-blue-dark:          #0c3b7f;
  --color-blue:               #0e3a81;
  --color-blue-lighter:       #e6ebf1;
  --color-blue-light:         #f4f5f9;

  --color-orange:             #f7a941;
  --color-orange-lighter:     #fbd39f;
  --color-orange-light:       #fdeed9;


  // ----------------------------------------------
  // Colors
  // ----------------------------------------------
  --color-background-body:    #f8f8f8;
  --color-background-screen:  #f1f1f1;
  --color-background-hr:      #ccc;
  --color-background-button:  #e6e6e6;
  --color-background-footer:  #e6e6e6;
  --color-background-pre:     #eee;
  --color-background-ins:     #fff9c0;

  --color-text-screen:        #21759b;
  --color-text-input:         #666;
  --color-text-input-focus:   #111;
  --color-link:               --color-orange;
  --color-link-visited:       --color-orange;
  --color-link-hover:         --color-orange;
  --color-text-main:          --color-blue-dark;

  --color-border-button:      #ccc #ccc #bbb;
  --color-border-button-hover:#ccc #bbb #aaa;
  --color-border-button-focus:#aaa #bbb #bbb;
  --color-border-input:       #ccc;
  --color-border-abbr:        #666;
}
